<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
    <title>Tabla socios</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <h1>Tabla Socios</h1>
    <table class="table">
        <thead>
            <tr>
                <!-- <th class="text-center" scope="col">Date</th> -->
                <th scope="col">Socio</th>
                <th scope="col">Datos</th>
                <th scope="col">Acciones</th>
                <!-- <th class="text-center" scope="col">Venue</th> -->
            </tr>
        </thead>
        <tbody>
            <tr class="inner-box" th:each="socio:${socios}">
                <td>
                    <div class="event-img">
                        <h3 th:text="${socio.nombre}"></h3>
                    </div>
                </td>
                <td>
                    <div class="event-wrap">
                        <h4 th:text="${socio.email}"></h4>
                        <div class="meta">
                            <div class="categories">
                                <a th:text="${socio.telefono}"></a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="r-no">
                        
                        <a class="btn btn-danger" th:href="@{/eliminar/(id=${socio.numero_socio}) }">Eliminar</a>
                    </div>
                </td>
            </tr>
    </table>



    <p>Registrar un nuevo socio <a class="link" href="/registroSocio">Registrar</a></p>
</body>

</html>