<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<head>
    <title>Menu Inicio</title> 
    <link rel="stylesheet" href="tablaSocios.css">
</head>

<body>
    <h1 th:text="${mensaje}">Ruben</h1>
    <table class="table">
        <thead>
            <tr>
                <!-- <th class="text-center" scope="col">Date</th> -->
                <th scope="col">Socio</th>
                <th scope="col">Datos</th>
                <th scope="col">Acciones</th>
                <!-- <th class="text-center" scope="col">Venue</th> -->
            </tr>
        </thead>
        <tbody>
            <tr class="inner-box" th:each="socio:${socios}">
                <td>
                    <div class="event-img">
                        <h3 th:text="${socio.nombre}"></h3>
                    </div>
                </td>
                <td>
                    <div class="event-wrap">
                        <h4 th:text="${socio.email}"></h4>
                        <div class="meta">
                            <div class="categories">
                                <a th:text="${socio.telefono}"></a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="r-no">

                        <a class="btn btn-primary" href="#">Eliminar</a>
                    </div>
                </td>
            </tr>
    </table>




</body>

</html>